.card {
    margin-top: 108px;
    margin-left: 56px;
}

.projects__title {
    color: #2fdfdf;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* MEDIA QUERIES */

/* Smaller Laptops */

@media screen and (max-width: 1500px) {
    .card {
        margin-left: 48px;
        max-width: 24rem !important;
        max-height: 26rem !important;
    }
}


@media screen and (max-width: 1400px) {
    .card {
        margin-left: 30px;
        max-width: 24rem !important;
        max-height: 26rem !important;
    }
}

@media screen and (max-width: 1350px) {
    .card {
        margin-top: 108px;
        margin-left: 38px;
        max-width: 22rem !important;
        max-height: 26rem !important;
    }

    .card-body {
        max-height: 4rem !important;
        margin-bottom: 40px !important;
    }

    .card-link {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        margin-left: 0 !important;
        padding-bottom: 8px !important;
    }

}

/* Small phones, tablets, large phones*/

@media screen and (max-width: 768px) {
    .card {
        margin-top: 108px;
        margin-left: 38px;
        max-width: 10rem !important;
    }

    .card-body {
        max-height: 12rem !important;
        margin-bottom: 40px !important;
    }

    .card-link {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;

        margin-left: 0 !important;
    }

}

/* Smaller phones. This resizes the content to be displayed properly on a smaller phone */

@media (max-width: 480px) {
    .card {
        margin-top: 64px;
        margin-left: 64px;
        max-width: 18rem !important;
    }
}

@media (max-width: 375px) {
    .card {
        margin-left: 40px !important;
    }
}