.card {
    margin-top: 108px;
    margin-left: 56px;
}

.projects__title {
    color: #2fdfdf;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* MEDIA QUERIES START */

/* Small phones, tablets, large phones, Computers*/

@media only screen and (min-width: 1201px) and (max-width: 1750px) {
    .col {
        display: flex !important;
        flex-direction: row !important;
        justify-content: center !important;
    }

    .card {
        margin-top: 108px;
        max-width: 22rem !important;
        max-height: 24rem !important;
        margin-left: 0px;
    }

    .card-body {
        max-height: 4rem !important;
        margin-bottom: 40px !important;
    }

    .card-link {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        margin-left: 0 !important;
        padding-bottom: 8px !important;
    }

}

@media only screen and (min-width: 901px) and (max-width: 1200px) {
    .col {
        display: flex !important;
        flex-direction: row !important;
        justify-content: center !important;
    }

    .card {
        margin-top: 108px;
        max-width: 16rem !important;
        margin-left: 0 !important;
    }

    .card-body {
        max-height: 10rem !important;
        margin-bottom: 40px !important;
    }

    .card-link {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        margin-left: 0 !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 900px) {
    .card {
        margin-top: 108px;
        max-width: 10rem !important;
    }

    .card-body {
        max-height: 12rem !important;
        margin-bottom: 40px !important;
    }

    .card-link {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        margin-left: 0 !important;
    }
}


@media only screen and (min-width: 380px) and (max-width: 767px) {
    .card {
        margin-top: 64px;
        max-width: 18rem !important;
        margin-left: 0 !important;
    }

    .col {
        display: flex !important;
        flex-direction: row !important;
        justify-content: center !important;
    }

}

/*MEDIA QUERIES END */