.form {
  display: flex;
  justify-content: center;
  padding: 50px 0;
  max-width: 50%;
  margin-left: 25%;
}

.form__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.form-control {
  width: 100% !important;
}

.contact__title {
  color: #2f3e55;
  display: flex;
  justify-content: center;
  margin: 12px 0 88px 0;
}

.enter__details {
  color: black;
  font-weight: 500;
  margin-bottom: 32px;
  text-align: center;
}

.email__address {
  color: black;
  font-weight: 500;
}

.enter__message {
  color: black;
  font-weight: 500;
}

.mb-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form__submit {
  background-color: #ff6b6b;
  border: 2px solid #ff6b6b;
  border-radius: 8px;
  color: white;
  font-weight: 700;
  width: 100%;
  max-height: 240px;
  padding: 12px 24px;
  font-size: 20px;
  transition: all 300ms ease;
}

.form__submit:hover {
  border-color: #fff;
  background-color: transparent;
}

/* MEDIA QUERIES START */

/* Small phones, tablets, large phones, Computers*/


@media only screen and (min-width: 601px) and (max-width: 1750px) {
  .contact__title {
    margin: 50px 0 88px 0 !important;
  }

  .form__links {
    display: flex !important;
    flex-direction: row !important;
  }

  .form__link {
    margin: 0 !important;
    padding: 12px 12px 0 12px;
  }
}


@media only screen and (min-width: 380px) and (max-width: 600px) {
  .form {
    background-color: #2fdfdf;
    display: flex;
    justify-content: center;
    padding: 50px 0;
    max-width: 75%;
    margin-left: 12%;
  }

  .form__submit {
    font-size: 12px;
  }
}

/*MEDIA QUERIES END */

/* Smaller Laptops */


/* Small phones, tablets, large phones*/

@media screen and (max-width: 768px) {

  .contact__title {
    margin: 50px 0 88px 0 !important;
  }

  .form__links {
    display: flex !important;
    flex-direction: row !important;
  }

  .form__link {
    margin: 0 !important;
    padding: 12px 12px 0 12px;
  }
}