.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.form__wrapper {
  width: 50%;
}

.form-control {
  width: 100% !important;
}

.contact__title {
  color: #2f3e55;
  display: flex;
  justify-content: center;
  margin: 2.5em 0 2em 0;
}

.enter__details {
  color: black;
  font-weight: 500;
  margin-bottom: 32px;
  text-align: center;
}

.email__address {
  color: black;
  font-weight: 500;
}

.enter__message {
  color: black;
  font-weight: 500;
}

/* .mb-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
} */

.form__submit {
  background-color: #ff6b6b;
  border: 2px solid #ff6b6b;
  border-radius: 8px;
  color: white;
  font-weight: 700;
  width: 100%;
  max-height: 240px;
  padding: 0.5em 1.5em;
  font-size: 1.25rem;
  transition: all 300ms ease;
}

.form__submit:hover {
  border-color: #b84343;
  background-color: #b84343;
}

.text__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}



/* MEDIA QUERIES START */

/* Small phones, tablets, large phones, Computers*/

@media only screen and (min-width: 320px) and (max-width: 479px) {

  .contact__title {
    color: #2f3e55;
    display: flex;
    justify-content: center;
    margin: 1.5em 0 1.5em 0;
  }

  .form-control {
    font-size: 0.75rem !important;
  }

  .form {
    width: 100%;
    max-width: 320px !important;
  }

  .enter__details {
    font-size: 0.75rem;
  }

  .email__address {
    font-size: 1rem;
  }

  .enter__message {
    font-size: 1rem;
  }

  .form__submit {
    font-size: 0.75rem !important;
  }

  .success-text {
    max-width: 300px;
  }

}

/*MEDIA QUERIES END */