/* Hiding the Hamburger menu by default */
.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    background: none;
    border: none;
    z-index: 10;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background: #ff6b6b;
    transition: 0.3s;
}

/* Animating the Hamburger menu to "X" when it is open. */
.hamburger.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open span:nth-child(2) {
    opacity: 0;
}

.hamburger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}


/* Menu Links */
.mobile-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;
    position: absolute;
    top: 48px;

    /* Center it horizontally */
    left: 50%;
    /* Center + slide effect */
    transform: translate(-50%, -10px);
    max-width: 320px;
    background: white;
    border-radius: 12px;
    padding: 2em;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    z-index: 1;
}

/* Visible state */
.mobile-links.active {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, 0);
    /* Drop into view */
}

.mobile-links .nav-link {
    color: #2f3e55;
    text-decoration: none;
    padding: 10px;
    font-size: 0.75rem;
    position: relative;
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .mobile-links {
        max-width: 380px !important;
        width: 50%;
    }
}

/* Making it visible for Mobile */
@media (max-width: 767px) {
    .hamburger {
        display: flex;
    }
}