.hero__section {
    max-height: 100%;
    color: black;
    background-color: #e0f7e9;
}

.hero__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.blue {
    color: #2f3e55;
}

.content__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.hero__header {
    padding-top: 64px;
    text-align: left;
}

.hero__para {
    width: 952px !important;
    max-width: 75% !important;
    margin-top: 24px;
    text-align: left;
}

.btns_wrapper {
    margin: 0 20px;
}

.btn__wrapper {
    margin: 0 20px 0 0;
    text-decoration: none;
}

.hero__button {
    cursor: pointer;
    background-color: #ff6b6b !important;
    border-color: #ff6b6b !important;
    color: #07070A !important;
    margin-top: 24px;
}

.hero__button:hover,
.hero__button:focus {
    background-color: #b84343 !important;
    border-color: #b84343 !important;
}

.working__image {
    height: 500px;
    width: 500px;
}

.img__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* MEDIA QUERIES START */

/* Small phones, tablets, large phones, Computers*/

@media only screen and (min-width: 1051px) and (max-width: 1750px) {
    .working__image {
        max-height: 600px !important;
        max-width: 600px !important;
        padding-left: 0 !important;
    }

}

@media only screen and (min-width: 769px) and (max-width: 1050px) {
    .working__image {
        max-height: 500px !important;
        max-width: 500px !important;
        padding-left: 0 !important;
    }
}

@media only screen and (min-width: 380px) and (max-width: 768px) {
    .working__image {
        max-height: 400px !important;
        max-width: 400px !important;
        padding-left: 0 !important;
    }
}

/*MEDIA QUERIES END */