.hero__section {
    height: 885px;
    max-height: 100%;
    color: white;
    background-color: #07070A;
}

.blue {
    color: #2fdfdf;
}

.hero__header {
    padding-top: 124px;
}

.hero__para {
    width: 952px !important;
    max-width: 100% !important;
    margin-top: 24px;
}

.hero__button {
    cursor: pointer;
    background-color: #6c63ff !important;
    border-color: #6c63ff !important;
    color: #07070A !important;
    margin-top: 24px;
}

.hero__button:hover {
    background-color: #3dafaf !important;
    border-color: #3dafaf !important;
}

.working__image {
    height: 650px;
    width: 650px;
    float: right;
    object-position: bottom 500rem;
}

/* MEDIA QUERIES */

/* Small phones, tablets, large phones*/

@media screen and (max-width: 768px) {}

/* Smaller phones */

@media (max-width: 480px) {
    /* This resizes the content to be displayed properly on a smaller phone*/
}