.hero__section {
    color: black;
    background-color: #e0f7e9;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.hero__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.blue {
    color: #2f3e55;
}

.content__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px !important;
    max-width: 100% !important;
}


.hero__header {
    padding-top: 32px;
    text-align: left;
    font-size: 2.5rem !important;
}

.hero__para {
    max-width: 75% !important;
    margin-top: 24px;
    text-align: left;
    font-size: 1rem !important;
}

.btns_wrapper {
    margin: 0 20px;
}

.btn__wrapper {
    margin: 0 20px 0 0;
    text-decoration: none;
}

.hero__button {
    cursor: pointer;
    background-color: #ff6b6b !important;
    border-color: #ff6b6b !important;
    color: #2f3e55 !important;
    margin-top: 24px;
}

.hero__button:hover,
.hero__button:focus {
    background-color: #b84343 !important;
    border-color: #b84343 !important;
}

.img__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100% !important;
}

.working__image {
    height: 350px;
    width: 350px;
}



/* MEDIA QUERIES START */

/* Small phones, tablets, large phones, Computers*/

@media only screen and (min-width: 1051px) and (max-width: 1750px) {
    .working__image {
        max-height: 600px !important;
        max-width: 600px !important;
        padding-left: 0 !important;
    }

}

@media only screen and (min-width: 769px) and (max-width: 1050px) {
    .working__image {
        max-height: 500px !important;
        max-width: 500px !important;
        padding-left: 0 !important;
    }
}

@media only screen and (min-width: 380px) and (max-width: 768px) {
    .working__image {
        max-height: 400px !important;
        max-width: 400px !important;
        padding-left: 0 !important;
    }
}

/*MEDIA QUERIES END */