.navbar {
    background-color: #07070A;
}

.navbar-brand {
    color: #2fdfdf !important;
    font-weight: 700;
    padding-left: 56px;
}

.nav-link {
    color: white !important;
    margin-right: 24px;

}

.nav__links {
    margin-right: 48px;
}

.navbar-collapse {
    display: flex;
    justify-content: right !important;
}

.avatar__image {
    height: 40px;
    width: 40px;
    cursor: not-allowed;
}

/* MEDIA QUERIES */

/* Small phones, tablets, large phones, Computers*/


@media only screen and (min-width: 769px) and (max-width: 1200px) {
    .navbar-collapse {
        display: flex !important;
        flex-basis: 0% !important;
    }

    .nav__links {
        display: flex !important;
        flex-direction: row !important;
        align-items: end !important;
    }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
    .navbar-collapse {
        display: flex !important;
        flex-basis: 0% !important;
    }

    .nav__links {
        display: flex !important;
        flex-direction: row !important;
        align-items: end !important;
    }
}

@media only screen and (min-width: 380px) and (max-width: 600px) {
    .navbar-collapse {
        display: flex !important;
        flex-basis: 0% !important;
    }

    .nav__links {
        display: flex !important;
        flex-direction: row !important;
        align-items: end !important;
    }

    .navbar-brand {
        margin: 0 !important;
    }

    .nav__links {
        font-size: 14px;
        margin-right: 36px !important;
    }

    .avatar__image {
        display: none !important;
    }
}

/*MEDIA QUERIES END */