.navbar {
    background-color: #07070A;
}

.navbar-brand {
    color: #2fdfdf !important;
    font-weight: 700;
    padding-left: 56px;
}

.nav-link {
    color: white !important;
    margin-right: 24px;
    
}

.nav__links {
    margin-right: 48px;
}

.navbar-collapse {
    display: flex;
    justify-content: right !important;
}
.avatar__image {
    height: 40px;
    width: 40px;
    cursor: not-allowed;
}