.navbar {
    background-color: #07070A;
}

.navbar-brand {
    color: #2fdfdf !important;
    font-weight: 700;
    padding-left: 56px;
}

.nav-link {
    color: white !important;
    margin-right: 24px;

}

.nav__links {
    margin-right: 48px;
}

.navbar-collapse {
    display: flex;
    justify-content: right !important;
}

.avatar__image {
    height: 40px;
    width: 40px;
    cursor: not-allowed;
}

/* MEDIA QUERIES */

/* Small phones, tablets, large phones*/

@media screen and (max-width: 768px) {
    .navbar-collapse {
        display: flex !important;
        flex-basis: 0% !important;
    }

    .nav__links {
        display: flex !important;
        flex-direction: row !important;
        align-items: end !important;
    }
}

/* Smaller phones. This resizes the content to be displayed properly on a smaller phone */

@media (max-width: 480px) {
    .navbar-brand {
        color: #2fdfdf !important;
        font-weight: 700;
        padding-left: 32px;
    }

}