#root {
  min-height: 120vh;
  background-color: #07070A;
}

@media screen and (max-width: 1500px) {
  #root {
    min-height: 170vh;
    background-color: #07070A;
    max-width: 175vh;
  }
}


@media screen and (max-width: 768px) {
  #root {
    min-height: 140vh;
    max-width: 100vh;
  }
}

/* Smaller phones. /* This resizes the content to be displayed properly on a smaller phone*/
@media (max-width: 480px) {
  #root {
    min-height: 180vh;
  }
}

@media (max-width: 393px) {
  #root {
    min-height: 190vh;
  }
}